language: go

go:
 - 1.4

before_install:
 - sudo pip install codecov
 - go get golang.org/x/tools/cmd/cover

script:
 - go test -v -coverprofile=coverage.txt -covermode=atomic

after_success:
  codecov
