language: go

go:
 - 1.3
 - 1.4

before_install:
 - sudo pip install codecov
 - - go get code.google.com/p/go.tools/cmd/cover

script:
 - go test -v -coverprofile=coverage.txt -covermode=atomic

after_success:
  codecov
